@charset "UTF-8";

h1 {
	color:red;
}

.myFonts {
	font-size: 20px;
	font-family: Monaco;
}

.myButton {
	color: white;
	background: blue;
	padding: 20px;
	transition-duration: 0.5s;
}
.myButton:hover {
	color: white;
	background: red;
}